
a {
    color: #bdd914;
}

nav {
    height: 6em;
    background-color: rgb(83, 133, 68);
}

ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100%;
}

main {
    display: flex;
}

section {
    display: flex;
}

@media screen and (max-width: 400px){

    section {
        flex-direction: column;
    }
    main {
        flex-wrap: wrap-reverse;
    }
    ul {
        flex-direction: column;
    }
}
