
a {
    color: #bdd914;
}

nav {
    height: 5em;
    background-color: rgb(83, 133, 68);
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100%;
}

main {
    display: flex;
}

section {
    display: flex;
}

@media screen and (max-width: 400px){
    ul {
        display: block;
        height: 100%;
        align-items: center;
    }
    section {
        display: block;
    }
    main {
        flex-wrap: wrap-reverse;
    }
}
