
a {
    color: #bdd914;
}

nav {
    height: 5em;
    background-color: rgb(83, 133, 68);
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    align-items: center;
}

main {
    display: flex;
}

section {
    display: flex;
}
